@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Press+Start+2P&display=swap');

html {
    font-family: "Kelly Slab", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 90vw;
    margin: auto;
}

.bucket {
    max-width: 600px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px 40px;
    background-color: aliceblue;
}

h1 {
    font-family: "Press Start 2P", system-ui;
    font-size: 2em;
}

.button {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.2em;
    background-color: rgb(255, 215, 141);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 1.5px solid rgb(104, 11, 5);
    box-shadow: 1px 1px 1px;
}

.new {
    background-color: greenyellow;
    border: 1px solid black;
}

#guessField {
    border: none;
    border-bottom: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

#guessField:focus {
    outline: none;
    background-color: rgb(255, 255, 235);
}

.form input[type="number"] {
    width: 200px;
}

.lastResult {
    color: white;
    padding: 3px;
}

.moving-bar {
    position: absolute;
    background-color:rgb(255, 245, 231);
    padding: 0px 5px;
    margin: 0px 0px;
    width: 100%;
    bottom: 10px;
    border-radius: 40px;
    border: 1px solid rgb(116, 48, 5);
    overflow: hidden;
}

.moving-bar>div {
    position: relative;
    margin: 5px 10px;
    font-weight: bold;
    overflow: hidden;
    border-radius: 50px;
}

.moving-bar>div>p {
    font-size: 1.5em;
    position: relative;
    display: inline-block;
    margin: 0;
    white-space: nowrap;  /* Prevents text from wrapping */
    overflow: hidden;  /* Hides overflowing text */
}